<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="nPOSProj.Properties.Settings.npos_dbConnectionString"
        connectionString="server=localhost;user id=root;database=nposr_db;persistsecurityinfo=True;password=root;Pooling=false;"
        providerName="MySql.Data.MySqlClient" />
    <add name="nPOSProj.Properties.Settings.npos_dbConnectionString1"
        connectionString="server=localhost;user id=root;database=nposr_db;persistsecurityinfo=True;password=root;Pooling=false;"
        providerName="MySql.Data.MySqlClient" />
    <add name="nPOSProj.Properties.Settings.npos_dbConnectionString2"
        connectionString="server=localhostuser id=root;database=nposr_db;persistsecurityinfo=True;password=root;Pooling=false;"
        providerName="MySql.Data.MySqlClient" />
    <add name="nPOSProj.Properties.Settings.npos_dbConnectionString3"
        connectionString="server=localhost;user id=root;database=nposr_db;persistsecurityinfo=True;password=root;Pooling=false;"
        providerName="MySql.Data.MySqlClient" />
    <add name="nPOSProj.Properties.Settings.npos_dbConnectionString4"
        connectionString="server=localhost;user id=root;database=nposr_db;persistsecurityinfo=True;password=root;Pooling=false;"
        providerName="MySql.Data.MySqlClient" />
    <add name="nPOSProj.Properties.Settings.nposr_dbConnectionString"
        connectionString="server=localhost;user id=root;database=nposr_db;persistsecurityinfo=True;password=root;Pooling=false"
        providerName="MySql.Data.MySqlClient" />
    <add name="nPOSProj.Properties.Settings.nposr_dbConnectionString1"
        connectionString="server=localhost;user id=root;database=nposr_db;persistsecurityinfo=True;password=root"
        providerName="MySql.Data.MySqlClient" />
</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
